{% extends "base.html.twig" %}

{% block title %} Inscription / Connexion {% endblock %}

{% block body %}

    {%  form_theme formUser 'bootstrap_4_horizontal_layout.html.twig' %}

    <div class="container">
               {{ form(formUser) }}

    </div>

{% endblock %}