{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Conditions général d'utilisation</h1>

        <hr>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a efficitur lectus, sed tempor odio. Integer aliquet pulvinar nisl non gravida. Nam vitae facilisis orci. Proin vitae hendrerit diam, at vulputate tortor. Morbi lorem enim, lacinia non libero nec, faucibus gravida sapien. Fusce molestie porta ex sit amet viverra. Curabitur luctus tempus nunc, ac sodales erat finibus bibendum. In condimentum euismod ultricies. Donec sed nunc sit amet risus tincidunt bibendum. Nunc vulputate vitae ex vitae auctor. Mauris tincidunt justo ipsum, eget viverra lorem interdum quis. Curabitur metus risus, dictum a purus non, pellentesque posuere libero. Vestibulum sit amet augue neque. Pellentesque aliquet ipsum lorem, eget maximus erat sollicitudin eu. Curabitur mauris ex, elementum quis viverra vel, pellentesque eu erat.

            In vehicula nulla orci, non pellentesque augue volutpat eget. Vivamus bibendum ex non eros venenatis vehicula. Sed condimentum ante eget mattis placerat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras eget elit neque. Aliquam molestie eget ligula quis condimentum. Suspendisse tempor nisi et leo faucibus, ac cursus mi fringilla. Nulla nec aliquam velit.

            Nam nibh elit, tristique ac diam in, semper pharetra ex. Duis non nibh vel magna luctus maximus quis volutpat lectus. Nam elit sem, varius vitae metus ut, pharetra ullamcorper nisl. Nullam faucibus metus eu tincidunt posuere. Nullam aliquet urna in tristique porttitor. Cras lobortis suscipit sapien iaculis laoreet. Integer ut lorem vel mi aliquam pharetra. In hac habitasse platea dictumst. Mauris lobortis nisl turpis, eu convallis dui dapibus nec. Vivamus volutpat, diam eget sollicitudin laoreet, diam ante volutpat mi, vitae faucibus odio sapien eget turpis. Fusce a enim eu arcu euismod porta id id lacus. Vivamus sit amet tempus erat, non mattis turpis. Nulla luctus auctor nulla, ac dignissim nulla porta eget. Duis cursus porta aliquam. Proin neque lectus, aliquam quis feugiat id, iaculis at orci.

            In magna elit, fringilla vitae sem eget, aliquet laoreet justo. Praesent vehicula quam a turpis congue faucibus. Proin tincidunt laoreet finibus. Nullam odio erat, tempus ac convallis vel, volutpat aliquet ipsum. Cras aliquam ex non velit convallis, nec feugiat risus molestie. Curabitur sit amet velit porttitor, luctus tortor sed, mollis felis. Quisque quis sapien finibus, imperdiet nulla non, mollis est. Aliquam venenatis volutpat nisl ac sodales. Proin iaculis, sapien nec dapibus consectetur, turpis nunc imperdiet nisl, sit amet eleifend elit dolor nec nisi.

            In eu lorem bibendum, euismod urna eu, varius nibh. Donec accumsan molestie condimentum. Donec ante orci, efficitur vitae nulla sodales, auctor mollis nisl. Nulla facilisi. Morbi dui eros, auctor non suscipit ut, varius ut magna. Sed egestas arcu a sapien viverra, quis imperdiet nibh dignissim. Nulla ac nunc tincidunt, ornare mauris id, mollis lorem. Pellentesque vel enim placerat, feugiat risus faucibus, rhoncus quam. Aenean nec suscipit ex. Quisque non purus ex. Suspendisse pulvinar ornare aliquet. Cras vel auctor nisl, sed ornare nibh. Nulla facilisi.
        </p>

    </div>
{% endblock %}